<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required metatags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Importing Bootstrap CSS from CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Importing transpiled CSS and setting title -->
    <link rel="stylesheet" href="../css/base.css" />
    <title>Proyecto Final</title>
  </head>
  <body>
    <header class="main-wrapper">
      <!-- Navbar Section -->
      <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-custom">
        <div class="container-fluid p-0">
          <a class="navbar-brand" href="/index.html">
            <img class="img-fluid" src="../assets/img/logo-full.png" alt="Company Brand Logo" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="./views/about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./views/our-service.html">Our Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./views/portfolio.html">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./views/contact-us.html">Contact Us</a>
              </li>
            </ul>
              <ul class="navbar-nav" id="lang-list">
                <li class="nav-item active">
                  <a class="nav-link" href="#">EN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">ID</a>
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="business-slogan">
        <div class="container py-md-5 py-4">
          <div class="row">
            <div class="col-md-8 col-10 align-self-center">
              <h2 class='text-uppercase mt-4'>We're buildonauts!</h2>
              <p class='text-muted'>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi qui laboriosam suscipit voluptatem provident porro possimus recusandae commodi harum facilis..</p>
              <a href="./views/our-service.html" class="btn text-white px-4">Our Services</a>
            </div>
            <div class="col-md-4 col-2 align-self-center">
              <img class="img-fluid" src="../assets/img/spaceship.svg" alt="rocket-logo">
            </div>
          </div>
        </div>
      </section>

      <section class="our-team bg-light py-5">
        <div class="container py-5">
          <div class="row mb-4">
            <div class="col text-center mb-4">
              <h2 class="text-uppercase">Our team</h2>
            </div>
          </div>
          <!-- Founder Card -->
          <div class="row justify-content-center">
            <div class="col-md-3 col-6 text-center">
              <img class="img-fluid mb-3" src="../assets/img/portraits/Craig.jpg" alt="Founder info">
              <h3>Craig</h3>
              <p>Founder</p>
            </div>
            <!-- Co-Founder Card -->
            <div class="col-md-3 col-6 text-center">
              <img class="img-fluid mb-3" src="../assets/img/portraits/Michelle.jpg" alt="Co-Founder info">
              <h3>Michelle</h3>
              <p>Co-Founder</p>
            </div>
            <!-- Project Management Card -->
            <div class="col-md-3 col-6 text-center">
              <img class="img-fluid mb-3" src="../assets/img/portraits/Emily.jpg" alt="Project Manager info">
              <h3>Emily</h3>
              <p>Project Management</p>
            </div>
            <!-- UI / UX Card -->
            <div class="col-md-3 col-6 text-center">
              <img class="img-fluid mb-3" src="../assets/img/portraits/Winko.jpg" alt="UX/UI Designer info">
              <h3>Winko</h3>
              <p>UX/UI Desig</p>
            </div>
            <!-- Web Development Card -->
            <div class="col-md-3 col-6 text-center">
              <img class="img-fluid mb-3" src="../assets/img/portraits/Kay.jpg" alt="Web Developer info">
              <h3>Kay</h3>
              <p>Web Developement</p>
            </div>
            <!-- Business Development Card -->
            <div class="col-md-3 col-6 text-center">
              <img class="img-fluid mb-3" src="../assets/img/portraits/Carla.jpg" alt="Business Developer Indonesia info">
              <h3>Carla</h3>
              <p>Business Developement (Indonesia)</p>
            </div>
      </section>

      <footer class="footer-custom bg-light">
        <div class="container py-5">
          <div class="row mb-4">
            <div class="col-md-2 col-4">
              <h2>Company</h2>
              <ul>
                <li><a href='./views/about.html'>About</a></li>
                <li><a href='./views/our-service.html'>Our Services</a></li>
                <li><a href='./views/portfolio.html'>Portfolio</a></li>
                <li><a href='./views/contact-us.html'>Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-8">
              <h2>Services</h2>
              <ul>
                <li><a href='#'>Branding & Graphic Design</a></li>
                <li><a href='#'>Website Design & Development</li>
                <li><a href='#'>Search Engine Optimization</a></li>
                <li><a href='#'>Social Media & Search Ads</a></li>
              </ul>
            </div>
            <div class="col-md-6 col-12">
              <h2>Contacts</h2>
              <ul>
                <li class='mb-4'>
                  <h3>Hong Kong</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, asperiores reiciendis! Possimus non sint qui?</p>
                  <a href="#" target="_blank">+506 7777 7777</a>
                </li>
                <li class='mb-4'>
                  <h3>Indonesia</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellendus sunt odit iure perferendis totam temporibus quasi et repudiandae beatae.</p>
                  <a href="#" target="_blank">+506 7777 7777</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col text-center fs-xs">
              Copyright © 2022 Juan G. Campos Durán. All rights reserved.
            </div>
          </div>
        </div>
      </footer>
  
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
      ></script>
    </body>
  </html>