h1, h2, h3
  font-weight: 700
  color: $text-primary

h2
  font-size: 2rem

h3
  font-size: 1.75rem

a
  color: $text-primary
  text-decoration: none

.main-wrapper
  padding-top: 70px

// Header custom changes
.navbar-custom
  padding: 0.25rem 1.5rem
  background-color: $white
  li
    a
      text-transform: uppercase
      img
        height: 40px

.active
  font-weight: 700

#lang-list
  border-left:  1px solid #3a567d
  margin-left: 1em
  padding-left: 1em

// Buttons general styling
.btn
  background-color: $bg-primary
  border-radius: 200px
.btn:hover
  background-color: $bg-primary-hover
.btn-muted
  background-color: $muted
.btn-muted:hover
  background-color: $muted-hover
.text-muted
  color: $muted
.btn-gray
  color: #212529
  background-color: $gray
.btn-gray:hover
  background-color: $gray-hover
//Gray sections
.bg-light
  background-color: $bg-light

// Business-slogan custom
.business-slogan
  img
    max-height: 50vh

.business-solutions
  color: $text-primary
  img
    max-height: 80px
    margin-bottom: 1.5em
.portfolio-list
  .card
    min-height: 280px
    border-radius: 1em
    overflow: hidden
    background-color: $bg-primary-light
  .card-body
    display: flex
    align-items: center
    justify-content: center
    padding: 3em
    p
      margin-bottom: 0
      font-size: 2em
      color: white
.testimonials

// Let's grab a coffe
.border-top
  border-top: 1px solid $bg-primary-light
  border-top

// Footer custom changes
.footer-custom
  background-color: $bg-lighter
  h2
    font-size: 1.65em
    margin-bottom: 1em
  h3
    font-size: 1.3em
    margin-bottom: 0.25rem
  p
    margin-bottom: 0
  ul
    list-style: none
    padding-left: 0
    li
      a:hover
        text-decoration: underline
  .fs-xs
    font-size: 0.75rem
  
@media screen and (min-width: 768px)
  .business-slogan
    h2
      font-size: 3em
  .business-card:not(:last-of-type)
    border-right: 1px solid rgba(58, 86, 125, .4)

// Media queries
@media screen and (max-width: 767px)
  h2
    font-size: 1.2rem
  h3
    font-size: 1rem
  .footer-custom
    h2
      font-size: 1.35em
  .portfolio-list
    .card
      min-height: 140px
    .card-body
      padding: 1em
