.main-wrapper
  padding-top: 70px

// Header custom changes
.navbar-custom
  background-color: $white
  li
    a
      color: $text-primary
      text-transform: uppercase

.active
  font-weight: 700

#lang-list
  border-left:  1px solid #3a567d
  margin-left: 1em
  padding-left: 1em

// Business-slogan custom
.business-slogan
  img
    max-height: 50vh
  h2
    color: $text-primary
  a
    border-radius: 200px
    background-color: $bg-primary
  .btn-muted
    background-color: $muted
  .text-muted
    color: $muted

// Footer custom changes
.footer-custom
  h2
    font-size: 1.65em
    margin-bottom: 1em
    color: $text-primary
  h3 
    margin-bottom: 0.25rem
    color: $text-primary
  a
    color: $text-primary
    text-decoration: none
  ul
    list-style: none
    padding-left: 0
