// Primary and Secondary Colors
$text-primary: #073256 !important
$bg-primary: #073256 !important
$bg-primary-hover: #041d33 !important
$bg-light: #eaeef2 !important
$bg-lighter: #f8f9fa!important
$muted: #afc3d3 !important
$muted-hover: #96b0c5 !important
$white: #fff
$gray: #f8f9fa !important
$gray-hover: #e2e6ea !important


// @import '../node_modules/bootstrap/scss'